:root {
  --accent-color: #a93b59;
  --overlay-color: rgba(185, 106, 127, 0.5);
  --title-color: #fff;
  --page-color: #000;
  --text-color: #444;
  --aditional-color: #f5ebeb;
  --contacts-form-color: rgba(255, 255, 255, 0.71);
}

body {
  background-color: var(--page-color);
  font-family: Source Sans Pro;
  font-weight: 400;
}

.header {
  padding-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-flower {
  width: 42px;
  height: 39px;
}

.header-flowerlover {
  color: var(--aditional-color);
  text-align: center;
  font-family: Spline Sans;
  font-size: 16px;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-link {
  color: var(--aditional-color);
  text-align: center;
  font-size: 20px;
}

.hero {
  padding-top: 109px;
  padding-bottom: 94px;
}

.hero-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
}

.header-box {
  padding-left: 110px;
}

.hero-content {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.hero-header {
  color: var(--aditional-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 86px;
  line-height: 0.7;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 24px;
}

.hero-text {
  color: var(--aditional-color);
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 42px;
}

.hero-button {
  border-radius: 15px;
  background: var(--accent-color);
  color: var(--aditional-color);
  text-align: center;
  font-size: 24px;
  width: 437px;
  height: 32px;
}

.hero-information {
  color: var(--title-color);
  font-size: 16px;
  text-transform: lowercase;
}

.catalog {
  padding-bottom: 92px;
}

.catalog-title {
  color: var(--accent-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
}

.catalog-heading {
  color: var(--title-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
}

.catalog-item {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 300;
}

.catalog-price {
  color: var(--page-color);
  font-size: 32px;
}

.catalog-info {
  color: var(--text-color);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
}

.catalog-button {
  color: var(--aditional-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.catalog-flower {
  border-radius: 15px;
  background: var(--title-color);
}

.quality {
  padding-bottom: 132px;
}

.quality-heading {
  color: var(--accent-color);
  /* Н3 */
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.quality-sublitle {
  color: var(--title-color);
  font-size: 32px;

  font-weight: 400;
  line-height: 1.25;
}

.quality-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}

.bold-text {
  font-weight: 600;
}

.contacts {
  padding-bottom: 121px;
}

.contacts-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}

.contacts-subtitle {
  color: var(--aditional-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-content-title {
  color: var(--title-color);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-text {
  color: var(--contacts-form-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.client-section {
  padding-bottom: 124px;
}

.client-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}

.footer-link {
  color: var(--aditional-color);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-word {
  color: var(--aditional-color);
  text-align: center;
  font-family: Spline Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  text-transform: uppercase;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-connect {
  color: var(--title-color);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-desc {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.container {
  width: 1328px;
  padding-left: 8px;
  padding-right: 8px;
  outline: solid darkturquoise 2px;
  margin: 0 auto;
}
