:root {
  --accent-color: #a93b59;
  --overlay-color: rgba(185, 106, 127, 0.5);
  --title-color: #fff;
  --page-color: #000;
  --text-color: #444;
  --aditional-color: #f5ebeb;
  --contacts-form-color: rgba(255, 255, 255, 0.71);
}

.container {
  max-width: 1328px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  /* outline: solid darkturquoise 2px; */
  margin: 0 auto;
}

body {
  background-color: var(--page-color);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

.header {
  padding-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-flower {
  width: 42px;
  height: 39px;
}

.header-flowerlover {
  color: var(--aditional-color);
  text-align: center;
  font-family: Spline Sans;
  font-size: 16px;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-link {
  color: var(--aditional-color);
  text-align: center;
  font-size: 20px;
}

.hero {
  padding-top: 109px;
  padding-bottom: 94px;
  background-image: url(../images/flowershero.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
}

.hero-list {
  display: flex;
  gap: 124px;
  justify-content: center;
}



.hero-item {
  /* outline: #b96a7f solid; */
  width: 201px;
  text-align: center;
}

.header-box {
  padding-left: 110px;
  margin-bottom: 437px;
}

.hero-content {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.hero-header {
  color: var(--aditional-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 86px;
  font-weight: 400;
  line-height: 0.7;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 24px;
}

.hero-text {
  color: var(--aditional-color);
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 42px;
}

.hero-button {
  border-radius: 15px;
  background: var(--accent-color);
  color: var(--aditional-color);
  text-align: center;
  font-size: 24px;
  width: 437px;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  /* text-align: center; */

}

.hero-information {
  color: var(--title-color);
  font-size: 16px;
  text-transform: lowercase;
}

.catalog {
  padding-bottom: 92px;
  padding-top: 44px;
}



.catalog-title {
  color: var(--accent-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  padding-left: 285px;
  margin-bottom: 101px;
}

.catalog-heading {
  color: var(--title-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.33;
}

.catalog-box {
  border-radius: 15px;
  background: #b96a7f;
  display: flex;
  width: 1085px;
  padding: 20.5px 25px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.catalog-list {
  background-color: transparent;
  border: none;
  color: #fff;
}

.catalog-item {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 300;
}

.catalog-background {
  border-radius: 15px;
  background: rgba(185, 106, 127, 0.5);
  margin-bottom: 50px;
}

.catalog-price {
  color: var(--page-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.catalog-descond {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
  text-decoration-line: line-through;

}

.catalog-boxies {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  justify-content: center;
}

.catalog-info {
  color: var(--text-color);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}

.catalog-button {
  color: var(--aditional-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 104px;
}

.catalog-flowers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 1110px;
  margin: 0 auto;
}

.catalog-flower {
  border-radius: 15px;
  background: var(--title-color);
  width: 290px;
  overflow: hidden;
  flex-basis: calc((100% - (30px * 2)) / 3);
  padding-bottom: 20px;
}

.quality {
  padding-bottom: 132px;
}

.quality-heading {
  color: var(--accent-color);
  /* Н3 */
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  text-align: end;
  margin-bottom: 171px;
  padding-right: 136px;
}

.quality-item {
  display: flex;
}

.quality-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.quality-info {
  margin-left: 120px;
  padding-top: 69px;
}

.quality-item:nth-child(even) .quality-info {
  margin-right: 120px;
  margin-left: 0;
}

.quality-sublitle {
  color: var(--title-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 16px;
  font-family: Source Sans 3;
}

.quality-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}

.bold-text {
  font-weight: 600;
}

.contacts {
  padding-bottom: 121px;
}

.contacts-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}

.contacts-subtitle {
  color: var(--aditional-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-content-title {
  color: var(--title-color);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-text {
  color: var(--contacts-form-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.client-section {
  padding-bottom: 124px;
}

.client-title {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}

.footer-container {
  display: flex;
  justify-content: center;
}

/* footer div {
  outline: blue solid;
} */

.footer-box {
  margin-left: 298px;
  margin-right: 217px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-top: 32px;
}

.footer-item:not(:last-child) {
  margin-bottom: 32px;
}

.footer-link {
  color: var(--aditional-color);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-picture {
  width: 88px;
  height: 84px;
}


.footer-word {
  color: var(--aditional-color);
  text-align: center;
  font-family: Spline Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  text-transform: uppercase;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-connect {
  color: var(--title-color);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
}

.footer-desc {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-info {
  text-align: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.contacts-box {
  display: flex;
  margin-top: 140px;
  justify-content: center;
}

.contacts-content {
  display: flex;
  padding: 40px 60px 13px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  margin-left: 242px;
  max-width: 535px;
}

.contacts-info {
  max-width: 535px;
}

.contacts-subtitle {
  margin-bottom: 40px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.contacts-input {
  border-radius: 15px;
  background: #FFF;
  padding: 22px 39px 23px 38px;
  width: 416px;
}

.contacts-btn {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  width: 416px;
  padding: 16px 116px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 15px;
  background: var(--button-and-text-color, #A93B59);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 6px 0px 12px 0px rgba(0, 0, 0, 0.10), 23px 0px 23px 0px rgba(0, 0, 0, 0.09), 51px 0px 31px 0px rgba(0, 0, 0, 0.05), 91px 0px 36px 0px rgba(0, 0, 0, 0.01), 142px 0px 40px 0px rgba(0, 0, 0, 0.00);
}

.contacts-service {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contacts-services {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.bold-text {
  display: block;
}

.contacts-form {
  padding: 36px 64px 86px 55px;
}

.client-section {
  padding-top: 121px;
}

.client-title {
  text-align: end;
  margin-bottom: 140px;
  padding-right: 169px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}


/* :root {
  --accent-color: #a93b59;
  --overlay-color: rgba(185, 106, 127, 0.5);
  --title-color: #fff;
  --page-color: #000;
  --text-color: #444;
  --aditional-color: #f5ebeb;
  --contacts-form-color: rgba(255, 255, 255, 0.71);
} */