html {
  scroll-behavior: smooth;
}

.container {
  max-width: 390px;
  width: 100%;
  padding: 0 15px;
  /* outline: solid darkturquoise 2px; */
  margin: 0 auto;

  @media screen and (min-width: 1328px){
    max-width: 1328px;
   }
}

body {
  background-color: $page-color;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

.bold-text {
  font-weight: 600;
}
