.catalog {
  padding-bottom: 92px;
  padding-top: 44px;
  background-image: url(../images/flower-section.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.catalog-title {
  position: relative;
  @extend %title-fonts;
  margin-bottom: 101px;
  padding-left: 349px;
}

.catalog-title::after {
  content: "";

  display: block;
  position: absolute;
  left: 0px;
  background-color: #b02e51;
  width: 491.001px;
  height: 2px;
  margin-right: auto;
}

.catalog-heading {
  text-align: center;
  @extend %title-fonts;
  color: $title-color;
  margin-bottom: 20px;
}

.catalog-box {
  border-radius: 15px;
  background: #b96a7f;
  max-width: 1085px;
  padding: 20.5px 25px;
  @include flex-box($align-horisontal: space-between);
}

.catalog-svg {
  fill: #b02e51;
  width: 28px;
  height: 28px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-svg:hover {
  stroke: #b02e51;
}

.catalog-heart {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 14px;
}

.catalog-list {
  background-color: transparent;
  border: none;
  color: #fff;
}

.catalog-item {
  color: $title-color;
  font-size: 18px;
  font-weight: 300;
}

.catalog-background {
  border-radius: 15px;
  background: rgba(185, 106, 127, 0.5);
  margin-bottom: 50px;
  max-width: 1085px;
  margin: 0 auto;
}

.catalog-price {
  color:$page-color;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.catalog-descond {
  @extend %editional-text;
  font-style: normal;
  line-height: 1.5;
  text-decoration-line: line-through;
}

.catalog-boxies {
  @include flex-box($align-vertical: flex-end, $gap: 10px);
}

.catalog-info {
  color: $text-color;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}

.catalog-button {
  color: $aditional-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 114px;
}

.catalog-flowers {
  width: 1110px;
  margin: 0 auto;
  @include flex-box($gap: 30px, $wraping: wrap);
}

.catalog-flower {
  border-radius: 15px;
  background: $title-color;
  position: relative;
  overflow: hidden;

  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.catalog-overlay {
  @include flex-box($align-vertical: flex-end);
  background: rgba(185, 106, 127, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(800px);
}

.catalog-flower:hover .catalog-overlay {
  opacity: 1;
  transform: translateY(0px);
}

.catalog-infos {
  background: #b96a7f;
  width: 290px;
  height: 46px;
  padding: 15px;
}

.catalog-text {
  width: 290px;
  height: 46px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.catalog-forms {
  @include flex-box($gap: 20px);
  padding: 25px 15px 15px 15px;
  background-color: #fff;
}

.catalog-form {
  width: 116px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.catalog-buttone {
  width: 116px;
  height: 32px;
  padding: 0 10px;
  border-radius: 5px;
  background: #a93b59;
}

.catalog-subtitle {
  color: #fff;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}

