.client-section {
  padding-bottom: 124px;
}

.client-title {
  color: $accent-color;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 140px;
}

.client-title::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 488px;
  height: 2px;
  background-color: #b02e51;
}

.client-section {
  padding-top: 121px;
}

.client-title {
  text-align: end;
  margin-bottom: 140px;
  padding-right: 169px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}
