.contacts {

  &__title {
    @extend %title-fonts;

    &::after {
      display: block;
      content: "";
      width: 823px;
      height: 2px;
      background-color: #b02e51;
    }

  }

  &__box {
    margin-top: 24px;

    @media screen and (min-width: 1328px) {
      @include flex-box();
      margin-top: 140px;
    }
  }
  &__info {
    max-width: 535px;
  }
 &__form {
    padding: 16px 16px 16px 16px;
    @media screen and (min-width: 1328px) {
      padding: 36px 64px 86px 55px;
    }
  }
}


.contacts-subtitle {
  color: $aditional-color;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-content-title {
  color: $title-color;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.contacts-text {
  color: $contacts-form-color;
  @extend %editional-text;
}

.flower-background {
  background-image: linear-gradient(rgba(185, 106, 127, 0.7),
      rgba(185, 106, 127, 0.7)),
    url(../images/flower-form.webp);
  background-repeat: no-repeat;
  background-size: 100% 564px, 776px 1104px;
  background-position: 0% 190px, left -10px;
}



.contacts-content {
  @include flex-box($align-vertical: flex-start, $gap: 39px);
  padding: 40px 60px 13px 6px;
  flex-direction: column;
  margin-left: 242px;
  max-width: 535px;
}



.contacts-subtitle {
  margin-bottom: 40px;
}

.contacts-list {
  @include flex-box($gap: 40px);
  flex-direction: column;
  margin-bottom: 40px;
}

.contacts-input {
  border-radius: 15px;
  background: #fff;
  padding: 22px 39px 23px 38px;
  width: 416px;
  border: none;
}

.contacts-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  @include flex-box($align-vertical: flex-start, $gap: 16px);
  width: 416px;
  padding: 16px 116px;
  border-radius: 15px;
  background: $accent-color;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    6px 0px 12px 0px rgba(0, 0, 0, 0.1), 23px 0px 23px 0px rgba(0, 0, 0, 0.09),
    51px 0px 31px 0px rgba(0, 0, 0, 0.05), 91px 0px 36px 0px rgba(0, 0, 0, 0.01),
    142px 0px 40px 0px rgba(0, 0, 0, 0);
}

.contacts-service {
  @include flex-box($gap: 32px);
}

.contacts-foto {
  width: 48px;
  height: 48px;
}

.contacts-services {
  @include flex-box($gap: 28px);
  flex-direction: column;
}



