.footer {
  border-top: 2px solid $accent-color, #a93b59;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

/* footer div {
    outline: blue solid;
  } */

.footer-box {
  margin-left: 298px;
  margin-right: 217px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-top: 32px;
}

.footer-item:not(:last-child) {
  margin-bottom: 32px;
}

.footer-link {
  color: $aditional-color;
  text-align: center;
  @extend %editional-text;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
  fill: $accent-color;
}

.footer-picture {
  width: 88px;
  height: 84px;
}

.footer-word {
  color: $aditional-color;
  text-align: center;
  font-family: Spline Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  text-transform: uppercase;
}

.footer-connect {
  color: $title-color;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
}

.footer-desc {
  color: $title-color;
  @extend %editional-text;
}

.footer-info {
  text-align: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
