.quality {
  padding-bottom: 132px;
}

.quality-heading {
  
  @extend %title-fonts;
  font-style: normal;
  text-align: end;
  margin-bottom: 171px;
  padding-right: 136px;
}

.quality-heading::after {
  display: block;
  content: "";
  width: 494.089px;
  height: 2px;
  background-color: #b02e51;
  margin-left: auto;
}

.quality-item {
  @include flex-box($align-horisontal: space-between);
}

.quality-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.quality-info {
  margin-left: 120px;
  padding-top: 69px;
  min-width: 527px;
}

.quality-item:nth-child(even) .quality-info {
  margin-right: 120px;
  margin-left: 0;
}

.quality-image {
  width: 648px;
}

.quality-sublitle {
  color: $title-color;
  @extend %editional-text;
  font-size: 32px;
  margin-bottom: 16px;
  font-family: Source Sans 3;
}

.quality-text {
  color: $title-color;
  @extend %editional-text;
  font-weight: 300;

}
